* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #082734;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

button {
  --main-color: #16496A; 
  --secondary-color: #fff;

  width: max-content;
  padding: 1rem 1.5rem;
  cursor: pointer;

  border-radius: 8px;
  border: var(--secondary-color) solid 2px;

  color: var(--secondary-color);
  background-color: transparent;

  font-size: 16px;
  font-weight: bold;

  transition: 189ms ease-out;
}

button:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}