.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.search-input {
  font-size: 16px;
  padding: .7em .8em;
  flex: 1;
  border-radius: 8px;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: solid 4px #54AEC7;
  color: #54AEC7;
}

.sort {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: .5rem;
}